<?xml version="1.0" encoding="UTF-8"?>


<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>
  </pluginGroups>


  <servers>
      <server>
        <username>admin</username>
        <password>1%v1t6GuY9Byl6Wd^GV7</password>
        <id>central</id>
      </server>
      <server>
        <username>admin</username>
        <password>1%v1t6GuY9Byl6Wd^GV7</password>
        <id>snapshots</id>
      </server>
  </servers>

  <mirrors>
  </mirrors>

  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>katana-maven</name>
          <url>https://www.slb-wartifactory-v.stg.rmn.local/artifactory/katana-maven</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>katana-maven</name>
          <url>https://www.slb-wartifactory-v.stg.rmn.local/artifactory/katana-maven</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>katana-maven</name>
          <url>https://www.slb-wartifactory-v.stg.rmn.local/artifactory/katana-maven</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>katana-maven</name>
          <url>https://www.slb-wartifactory-v.stg.rmn.local/artifactory/katana-maven</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>

</settings>
